@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;0,600;0,800;1,400;1,600;1,800&display=swap");

:root {
  --main-grey: #2f4858;
  --main-orange: #f2542d;
  --main-white: #f5dfbb;
  --main-color: #0e9594;
  --main-brown: #5a2328;
}

* {
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

html {
  font-family: "Work Sans", sans-serif;
}

body {
  margin: 0;
}

button:focus {
  outline: none;
}

header {
  width: 100%;
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2.5rem;
  background: var(--main-color);
}

header h1 {
  margin: 0;
  color: var(--main-white);
  font-size: 1.5rem;
}

header button {
  font: inherit;
  padding: 0.5rem 1rem;
  background: var(--main-orange);
  border: 1px solid var(--main-orange);
  color: var(--main-white);
  border-radius: 6px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.26);
  cursor: pointer;
}

header button:hover,
header button:active {
  background: var(--main-brown);
  border-color: var(--main-brown);
  color: var(--main-white);
}

label {
  font-weight: bold;
  margin: 0.5rem 0;
  color: var(--main-grey);
}

input {
  font: inherit;
  border: 1px solid #ccc;
  padding: 0.4rem 0.2rem;
  color: var(--main-grey);
  border-radius: 5px;
}

input:focus {
  outline: none;
  background: var(--main-white);
}

.btn {
  font: inherit;
  padding: 0.5rem 1.5rem;
  border: 1px solid var(--main-color);
  background: var(--main-color);
  color: var(--main-white);
  border-radius: 6px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.26);
  cursor: pointer;
  margin: 0 0.5rem;
}

.btn:hover,
.btn:active {
  background: var(--main-orange);
  border-color: var(--main-orange);
}

.btn--passive {
  color: var(--main-color);
  background: transparent;
  border: none;
  box-shadow: none;
}

.btn--passive:hover,
.btn--passive:active {
  background: var(--main-grey);
}

.btn--danger {
  background: #d30808;
  color: var(--main-white);
  border-color: #d30808;
}

.btn--danger:hover,
.btn--danger:active {
  background: #ff3217;
  border-color: #ff3217;
}

.card {
  background: var(--main-white);
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

.modal {
  position: fixed;
  z-index: 100;
  width: 80%;
  top: 30vh;
  left: 10%;
  display: none;
}

.modal.visible {
  display: block;
  animation: fade-slide-in 0.3s ease-out forwards;
}

.modal .modal__title {
  margin: 0;
  padding: 1rem;
  border-bottom: 1px solid var(--main-color);
  background: var(--main-color);
  color: var(--main-white);
  border-radius: 10px 10px 0 0;
}

.modal .modal__content {
  padding: 1rem;
}

.modal .modal__content input {
  background-color: white;
}

.modal .modal__actions {
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
}

.grocery-element {
  margin: 1rem 0;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  background-color: var(--main-white);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.grocery-element h1 {
  font-size: 3.5rem;
  color: var(--main-grey);
  margin-right: 30px;
}

.grocery-item {
  display: flex;
  flex-direction: row;
}

.grocery-element .grocery-item p {
  font-size: 1.5rem;
  color: var(--main-white);
  background: var(--main-orange);
  border-radius: 15px;
  align-self: center;
  justify-self: center;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grocery-element h3 {
  color: var(--main-brown);
  font-size: 2rem;
  margin: 0;
  text-align: center;
}

.grocery-element__info {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.grocery-element__delete button {
  font-size: 1.5rem;
  padding: 0.5rem;
  color: var(--main-white);
  background-color: var(--main-color);
  border-radius: 5px;
  border: none;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grocery-element__delete button:hover {
  cursor: pointer;
}

#entry-text {
  width: 40rem;
  margin: 2rem auto;
  max-width: 80%;
  padding: 1rem;
}

#entry-text p {
  font-size: 1.5rem;
  text-align: center;
}

#grocery-list {
  list-style: none;
  width: 40rem;
  max-width: 90%;
  margin: 1rem auto;
  padding: 0;
}

#backdrop {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.75);
  z-index: 10;
  pointer-events: none;
  display: none;
}

#backdrop.visible {
  display: block;
  pointer-events: all;
}

#add-modal .modal__content {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .modal {
    width: 40rem;
    left: calc(50% - 20rem);
  }
}

@keyframes fade-slide-in {
  from {
    transform: translateY(-5rem);
  }
  to {
    transform: translateY(0);
  }
}
